.bateauEquipe1 {
    -fx-background-image: url("file:src/image/battleship_1 Cropped.png");
}

.bateauEquipe2 {
    -fx-background-image: url("file:src/image/battleship_2 Cropped.png");
}

.mer{
    -fx-background-image: url("file:src/image/Mer_gif.gif");
}

.mineAtomique{
    -fx-background-image: url("file:src/image/Mer_gif.gif");
}


.mineNormale{
    -fx-background-image: url("file:src/image/Mer_gif.gif");
}


